@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	height: 100%;
}

#root {
	height: 100%;
}

.white-eye::-ms-reveal,
.white-eye::-webkit-text-security {
	filter: invert(100%);
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(20px); /* Adjust the initial position */
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInTop {
	from {
		opacity: 0;
		transform: translate(-50%, -20px); /* Adjust the initial position */
	}
	to {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

@keyframes progressBar {
	from {
		width: 0;
	}
	to {
		width: 99%;
	}
}

@media (min-width: 768px) {
	.md\:alert {
		animation: fadeInRight 0.5s ease-in-out;
		z-index: 1; /* Adjust the duration and timing function */
		/* position: relative; */
	}

	.md\:alert::after {
		position: absolute;
		bottom: -1px;
		z-index: -1;
		left: 1px;
		content: '';
		width: 99%;
		height: 100%;
		border-bottom: 3px solid white;
		border-bottom-left-radius: 5px;
		animation: progressBar 5s ease-out;
	}
}

@media (max-width: 768px) {
	.alert {
		animation: fadeInTop 0.5s ease-in-out;
	}

	.alert::after {
		position: absolute;
		bottom: -1px;
		left: 0px;
		content: '';
		width: 99%;
		height: 100%;
		border-bottom: 3px solid white;
		border-bottom-left-radius: 5px;
		animation: progressBar 5s ease-out;
	}
}
