@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	height: 100%;
}

#root {
	height: 100%;
}

.white-eye::-ms-reveal {
	filter: invert(100%);
}
